<p><a name="3.0.4"></a></p>
<h2 id="3-0-4-2018-02-07"><a href="#3-0-4-2018-02-07" class="headerlink" title="3.0.4 (2018-02-07)"></a>3.0.4 (2018-02-07)</h2><ul>
<li>docs: migrate documents to live2d-widget.js-doc (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/90b9894">90b9894</a>)</li>
<li>docs: update CHANGELOG (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/9ae492e">9ae492e</a>)</li>
<li>3.0.4 (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/d71c60b">d71c60b</a>)</li>
<li>build: remove lib from github, rename output file (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/efc0f53">efc0f53</a>)</li>
<li>build(entry): add entry point in package.json (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/b7240fb">b7240fb</a>)</li>
</ul>
<p><a name="3.0.2"></a></p>
<h2 id="3-0-2-2018-01-20"><a href="#3-0-2-2018-01-20" class="headerlink" title="3.0.2 (2018-01-20)"></a>3.0.2 (2018-01-20)</h2><ul>
<li>3.0.2 (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/1bd3909">1bd3909</a>)</li>
<li>docs(update doc): (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/423465f">423465f</a>)</li>
<li>feat: seperate defaultConfig for supporting helper (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/5fa4587">5fa4587</a>)</li>
</ul>
<p><a name="3.0.1"></a></p>
<h2 id="3-0-1-2018-01-19"><a href="#3-0-1-2018-01-19" class="headerlink" title="3.0.1 (2018-01-19)"></a>3.0.1 (2018-01-19)</h2><ul>
<li>docs: relink js to unpkg CDN (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/0bd9cdf">0bd9cdf</a>)</li>
<li>docs: update CHANGELOG (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/c840cfa">c840cfa</a>)</li>
<li>docs: update docs (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/188368a">188368a</a>)</li>
<li>docs(method of execute): finish the doc of launch it (use var) (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/1b43dc0">1b43dc0</a>)</li>
<li>feat: new build (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/f70a36c">f70a36c</a>)</li>
<li>fix: achieve frameshot, recover event system (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/aed9c26">aed9c26</a>)</li>
<li>style: change L2Dwidget into Class (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/59909df">59909df</a>)</li>
<li>build(add script to bump version better): (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/a2d04e8">a2d04e8</a>)</li>
<li>build(fix changelog script path problem): (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/67c56ee">67c56ee</a>)</li>
<li>chore(update dependency settings): (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/7796aac">7796aac</a>)</li>
<li>build: remove ghpages from npm publish (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/7401ffe">7401ffe</a>)</li>
</ul>
<p><a name="3.0.0"></a></p>
<h1 id="3-0-0-2018-01-13"><a href="#3-0-0-2018-01-13" class="headerlink" title="3.0.0 (2018-01-13)"></a>3.0.0 (2018-01-13)</h1><ul>
<li>feat: 3.0 API now is fixed. reday to publish (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/32a7b6d">32a7b6d</a>)</li>
<li>feat: API chanes again ! get current frame (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/cc76f02">cc76f02</a>)</li>
<li>feat: config (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/62118e1">62118e1</a>)</li>
<li>feat: config validater (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/cc587b2">cc587b2</a>)</li>
<li>feat: delete config validate function (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/0234132">0234132</a>)</li>
<li>feat: elementMgr codes, modify API (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/e6433e3">e6433e3</a>)</li>
<li>feat: elementMgr functionally done (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/aa09c5d">aa09c5d</a>)</li>
<li>feat: FINALLY USEABLE (basically) (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/7c121a2">7c121a2</a>)</li>
<li>feat: finish config validater (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/67a0558">67a0558</a>)</li>
<li>feat: fix webpack PublicPath prob. (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/093ee10">093ee10</a>)</li>
<li>feat: http(s) protocol supports for model’s json’s textures (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/d9b854a">d9b854a</a>)</li>
<li>feat: import lodash (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/be5531d">be5531d</a>)</li>
<li>feat: marked unfinished files, rebuild file structure, config works (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/62555a9">62555a9</a>)</li>
<li>feat: modified live2d core js (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/d3c7ab5">d3c7ab5</a>)</li>
<li>feat: TEST Create DOM use js (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/1a8db01">1a8db01</a>)</li>
<li>feat: update source code (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/28d350b">28d350b</a>)</li>
<li>feat: use ~ to mark version (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/4f0e865">4f0e865</a>)</li>
<li>feat(API): typo (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/b342953">b342953</a>)</li>
<li>feat(config): new config (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/5f13a2b">5f13a2b</a>)</li>
<li>feat(Webpack): lazy load and chunks (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/ccbe0d0">ccbe0d0</a>)</li>
<li>feat(Webpack): updated webpack config (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/260cbad">260cbad</a>)</li>
<li>chore: add comments (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/24b43e3">24b43e3</a>)</li>
<li>chore: new build version (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/c698c90">c698c90</a>)</li>
<li>chore: new build version (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/7216003">7216003</a>)</li>
<li>docs: add ESDoc (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/9a67891">9a67891</a>)</li>
<li>docs: added demo and doc (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/5d4cddc">5d4cddc</a>)</li>
<li>docs: fix bugs, update (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/14d0730">14d0730</a>)</li>
<li>docs: new doc build logic (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/a7f1d54">a7f1d54</a>)</li>
<li>docs: Update API varible types (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/f3ab76b">f3ab76b</a>)</li>
<li>docs: update CHANGELOG (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/abf0618">abf0618</a>)</li>
<li>docs: update CHANGELOG (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/89765f5">89765f5</a>)</li>
<li>docs: update docs (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/0ec0dec">0ec0dec</a>)</li>
<li>docs: update docs (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/3955611">3955611</a>)</li>
<li>docs(LICENSE): combine LICENSE (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/6be306f">6be306f</a>)</li>
<li>feat: (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/8c668b1">8c668b1</a>)</li>
<li>Initial commit (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/cc61b39">cc61b39</a>)</li>
<li>The Real Initial Commit (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/23ba71c">23ba71c</a>)</li>
<li>build: new doc build method (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/6854707">6854707</a>)</li>
<li>fix: old dependencies (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/7a2f272">7a2f272</a>)</li>
<li>fix(webpack): fix webpack publicPath issue (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/a8a630e">a8a630e</a>)</li>
<li>style: fix indent (<a href="https://github.com/xiazeyu/live2d-widget.js/commit/cb6f7d9">cb6f7d9</a>)</li>
</ul>
<h3 id="BREAKING-CHANGE"><a href="#BREAKING-CHANGE" class="headerlink" title="BREAKING CHANGE"></a>BREAKING CHANGE</h3><ul>
<li>change userConfig.display.AA to userConfig.display.antialias</li>
<li>change userConfig.display.widght to userConfig.display.width</li>
<li>Please use L2DWidget.init() and L2DWidget.captureFrame() instead of initL2DWidget()</li>
</ul>
