<p><a href="https://www.npmjs.com/package/live2d-widget"><img src="https://badge.fury.io/js/live2d-widget.svg?label=live2d-widget" alt="npm"></a><br><a href="javascript:void(0);"><img src="https://img.shields.io/david/xiazeyu/live2d-widget.js.svg" alt="deps"></a><br><a href="javascript:void(0);"><img src="https://img.shields.io/david/dev/xiazeyu/live2d-widget.js.svg" alt="devdeps"></a></p>
<p><a href="https://www.npmjs.com/package/live2d-widget"><img src="https://img.shields.io/npm/dt/live2d-widget.svg" alt="downloads"></a><br><a href="https://www.npmjs.com/package/live2d-widget"><img src="https://img.shields.io/npm/dm/live2d-widget.svg" alt="downloads-month"></a></p>
<p><a href="https://github.com/xiazeyu/live2d-widget.js/stargazers"><img src="https://img.shields.io/github/stars/xiazeyu/live2d-widget.js.svg" alt="GitHub stars"></a><br><a href="https://github.com/xiazeyu/live2d-widget.js/network"><img src="https://img.shields.io/github/forks/xiazeyu/live2d-widget.js.svg" alt="GitHub forks"></a><br><a href="https://github.com/xiazeyu/live2d-widget.js/issues"><img src="https://img.shields.io/github/issues/xiazeyu/live2d-widget.js.svg" alt="GitHub issues"></a></p>
<p><a href="http://commitizen.github.io/cz-cli/"><img src="https://img.shields.io/badge/commitizen-friendly-brightgreen.svg" alt="Commitizen friendly"></a><br><a href="http://makeapullrequest.com"><img src="https://img.shields.io/badge/PRs-welcome-brightgreen.svg?style=flat-square" alt="PRs Welcome"></a><br><a href="https://github.com/xiazeyu/live2d-widget.js/blob/master/LICENSE"><img src="https://img.shields.io/github/license/xiazeyu/live2d-widget.js.svg" alt="license"></a></p>
<h1 id="live2d-widget-js"><a href="#live2d-widget-js" class="headerlink" title="live2d-widget.js"></a>live2d-widget.js</h1><p>Add the Sseexxyyy live2d to your webpages! Seperated from <a href="https://github.com/EYHN/hexo-helper-live2d">hexo-helper-live2d</a>.</p>
<p>Demo: <a href="https://xiazeyu.github.io/live2d-widget.js/dev.html">Still working, but you can have a look~</a></p>
<p>Docs(including APIs): <a href="https://xiazeyu.github.io/live2d-widget.js/">Click me!</a></p>
<p>Online generator: <a href="javascript:void(0">TBD.</a>;)</p>
<h2 id="Useage"><a href="#Useage" class="headerlink" title="Useage"></a>Useage</h2><h3 id="Hexo"><a href="#Hexo" class="headerlink" title="Hexo"></a>Hexo</h3><p>Please visit <a href="https://github.com/EYHN/hexo-helper-live2d">hexo-helper-live2d</a> for the hexo plugin.</p>
<h3 id="Webpages"><a href="#Webpages" class="headerlink" title="Webpages"></a>Webpages</h3><h4 id="File-on-your-server"><a href="#File-on-your-server" class="headerlink" title="File on your server"></a>File on your server</h4><p>Download the <a href="https://github.com/xiazeyu/live2d-widget.js/releases">latest release</a>,</p>
<p>and then copy and extract the <code>lib</code> folder to your website.</p>
<p>Use <a href="javascript:void(0">online generator</a>;) <strong>(recommended)</strong> to generate codes.</p>
<details><summary>However, if you want to do it manually, follow the instruction below:</summary><br><br><br>import the js:<br><br><code>html

&lt;script src = &quot;( your script path here )&quot;&gt;&lt;/script&gt;</code><br><br>Then call the function along with your config.<br><br><code>js
L2Dwidget.init({
  &#39;config1&#39;: &#39;value1&#39;,
  &#39;config2&#39;: &#39;value2&#39;,
});</code><br><br></details>

<h3 id="Bookmark-any-pages"><a href="#Bookmark-any-pages" class="headerlink" title="Bookmark (any pages)"></a>Bookmark (any pages)</h3><p>TBD.</p>
<p><a href="https://www.cnblogs.com/pcyy/p/5655542.html">https://www.cnblogs.com/pcyy/p/5655542.html</a></p>
<h2 id="Settings"><a href="#Settings" class="headerlink" title="Settings"></a>Settings</h2><p>See the <a href="https://xiazeyu.github.io/live2d-widget.js/docs/class/src/index.js~L2Dwidget.html#instance-method-init">document</a>.</p>
<details><summary>Current supported models:</summary><br><br><br>  - <code>chitose</code><br>  - <code>Epsilon2.1</code><br>  - <code>Gantzert_Felixander</code><br>  - <code>haru01</code><br>  - <code>haru02</code><br>  - <code>haruto</code><br>  - <code>hibiki</code><br>  - <code>hijiki</code><br>  - <code>izumi</code><br>  - <code>koharu</code><br>  - <code>miku</code><br>  - <code>nico</code><br>  - <code>ni-j</code><br>  - <code>nipsilon</code><br>  - <code>nito</code><br>  - <code>shizuku</code><br>  - <code>tororo</code><br>  - <code>tsumiki</code><br>  - <code>Unitychan</code><br>  - <code>wanko</code><br>  - <code>z16</code><br><br></details>

<h2 id="Custom-model"><a href="#Custom-model" class="headerlink" title="Custom model"></a>Custom model</h2><ol>
<li><p>Create a <code>live2d_models</code> folder at your blog’s root directory.</p>
</li>
<li><p>Create a folder by the name of your model.</p>
</li>
<li><p>Copy your model to this folder.</p>
</li>
</ol>
<p><strong>Attention! The path of the model’s json must be  <code>/live2d_models/{name}/{name}.model.json</code></strong></p>
<details><summary>An Example:</summary><br><br><br>Your model is named <code>mymiku</code>.<br><br>Then, create a folder at  <code>/</code> (Which should exists <code>_config.yml</code> 、<code>sources</code> 、 <code>themes</code> ) named <code>mymiku</code>.<br><br>Copy your model to <code>/live2d_models/mymiku/</code>.<br><br>Up to now, there should be <code>mymiku.model.json</code> in the directory of <code>/live2d_models/mymiku/</code>.<br><br></details>

<p><br>~The problem was once releated to <a href="https://github.com/EYHN/hexo-helper-live2d/issues/22">(#22)</a>.~</p>
<p><br></p>
<p>See <a href="https://l2dwidget.js.org/stats.html">WEBPACK VISUALIZER</a></p>
<p>Enjoy!:beer:</p>
<blockquote>
<p>This is my first hexo plugin, star :star: and watch :eyeglasses:, pull request is also welcomed.</p>
</blockquote>
<p>Github: <a href="https://github.com/EYHN/hexo-helper-live2d">https://github.com/EYHN/hexo-helper-live2d</a></p>
<p>issues: <a href="https://github.com/EYHN/hexo-helper-live2d/issues">https://github.com/EYHN/hexo-helper-live2d/issues</a></p>
<h2 id="Contribute"><a href="#Contribute" class="headerlink" title="Contribute"></a>Contribute</h2><p><strong>Please pay enough attention to this document if you want to commit your changes or submit issues.</strong></p>
<p><a href="./CONTRIBUTING.md">CONTRIBUTING</a></p>
<h2 id="Releated-projects"><a href="#Releated-projects" class="headerlink" title="Releated projects"></a>Releated projects</h2><ul>
<li><p><a href="http://sites.cybernoids.jp/cubism-sdk2_e/webgl2-1">Cubism SDK WebGL 2.1</a></p>
</li>
<li><p><a href="https://github.com/xiazeyu/live2d-widget.js">live2d-widget.js</a></p>
</li>
<li><p><a href="https://github.com/EYHN/hexo-helper-live2d">hexo-helper-live2d</a></p>
</li>
<li><p><a href="https://github.com/avgjs/pixi-live2d">pixi-live2d</a></p>
</li>
<li><p><a href="https://github.com/Live2D/CubismJsComponents">CubismJsComponents</a></p>
</li>
</ul>
<h2 id="About-me"><a href="#About-me" class="headerlink" title="About me"></a>About me</h2><p><a href="https://delusion.coding.me/"><img src="https://img.shields.io/badge/author-cneyhn-green.svg" alt="Author"></a></p>
<p><a href="tencent://message/?uin=1106996185&amp;Site=Senlon.Net&amp;Menu=yes"><img src="https://img.shields.io/badge/QQ-1106996185-blue.svg" alt="Author QQ"></a></p>
<p><a href="mailto:cneyhn@gmail.com"><img src="https://img.shields.io/badge/Emali%20me-cneyhn@gmail.com-green.svg" alt="Author Email"></a></p>
<p><a href="https://xiazeyu.coding.me/"><img src="https://img.shields.io/badge/author-xiazeyu-green.svg" alt="Collaborator 0"></a></p>
<p><a href="tencent://message/?uin=2320732807&amp;Site=Senlon.Net&amp;Menu=yes"><img src="https://img.shields.io/badge/QQ-2320732807-blue.svg" alt="Collaborator 0 QQ"></a></p>
<p><a href="mailto:xiazeyu_2011@126.com"><img src="https://img.shields.io/badge/Emali%20me-xiazeyu_2011@126.com-green.svg" alt="Collaborator 0 Email"></a></p>
<h2 id="Imported"><a href="#Imported" class="headerlink" title="Imported"></a>Imported</h2><p><a href="https://github.com/matthewhudson/current-device"><img src="https://img.shields.io/npm/v/current-device.svg?label=current-device" alt="current-device"></a></p>
<h2 id="Special-Thanks"><a href="#Special-Thanks" class="headerlink" title="Special Thanks"></a>Special Thanks</h2><ul>
<li>@mashirozx </li>
<li>@fghrsh</li>
<li>@journey-ad</li>
<li>@gwzz</li>
</ul>
<p><br></p>
<p>Open sourced under the GPL v2.0 license.</p>
